html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.header, .footer {
  background-color: $bg-dark;
  color: $color-dark;
}

.main {
  background-color: $bg-main;
  color: $color-main;
}

body {
  display: flex;
  flex-direction: column;
}

h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #001C61;
}

.col-text {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #021239;
  margin-top: 10px;
}

.buy-container {
  margin-top: 37px;
  display: flex;

  .buy-button {
    width: 216px;
    height: 48px;
    background: #F13454;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.24);
    border-radius: 4px;
    line-height: 48px;
    text-align: center;

    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #FBFFFE;
    cursor: pointer;

    &:hover {
      background-color: #DC304D;
    }
  }

  .buy-text {
    margin-left: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    min-height: 48px;
    vertical-align: center;
    color: #6087E7;
    display: flex;
    align-items: center;
  }
}

.row-img {
  padding-top: 40px;
  padding-bottom: 40px;
  //height: 385px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include sm {
    height: unset;
  }

  img {
    @include sm {
      width: 100%;
    }
  }
}

.cyan {
  background-color: #f5fbff;
}

#s0 {
  background-color: #ffffff;

  .col {
    height: 48px;
  }

  .left {
    background: url("assets/s0-logo.svg") no-repeat left center;
    padding-left: 35px;

    .bold {
      font-family: Poppins, sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 14px;
      line-height: 48px;
    }

    .light {
      font-family: 'PT Sans', serif;
      font-style: italic;
      font-weight: normal;
      font-size: 14px;
      line-height: 48px;
    }
  }
}

#s1 {
  background-color: #001C61;
  min-height: 563px;

  .container {
    background: url("assets/s11-group_45.svg") no-repeat right center;
    background-size: auto;
    height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;

    @include mobile {
      background: transparent;
    }

    .wrapper {
      max-width: 550px;

      @include mobile {
        max-width: unset;
      }

      .bg-mobile-container {
        display: flex;

        .bg-mobile {
          flex: none;
          margin: auto;
          position: relative;

          img {
            width: 380px;
            margin-left: -50px;
            margin-top: 50px;
          }

          .price-text {
            width: 100px;
            height: 100px;
            right: 0px;
            top: 0px;

            .price {
              font-size: 15px;
              line-height: 16px;
            }

            .price-desc {
              font-size: 9px;
              line-height: 9px;
            }
          }
        }
      }


      .t1 {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 22px;
        color: #F5F8FF;
      }

      .t2 {
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 119%;
        color: white;

        .yellow {
          color: #FFF615;
        }
        padding-bottom: 10px;
        border-bottom: 1px solid #FFFFFA;
      }

      .t3 {
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 25px;
        color: #F5F8FF;
        margin-top: 16px;
      }

      .t4 {
        font-family: Open Sans;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        min-height: 30px;
        color: #FBFFFE;
        display: flex;
        align-items: center;
        line-height: 18px;

        margin-top: 65px;
      }
    }

    .price-text {
      position: absolute;
      width: 130px;
      height: 130px;
      right: 46px;
      top: 77px;

      .price {
        margin-top: 43px;
        font-family: Poppins, sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 130%;
        text-align: center;
        color: #F13454;
      }

      .price-desc {
        padding: 0 10px;
        font-family: 'Open Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 13px;
        text-align: center;
        color: #031D61;
      }
    }
  }

}

#s2 {
  padding: 45px 0 0 0;
  display: flex;
  flex-direction: column;

  .row {
    min-height: 385px;
  }

  .bg2 {
    background: url("assets/s2-bg2.svg") no-repeat center top;
    background-size: 105%;
    //height: 600px;
    padding-bottom: 350px;

    @include mobile {
      background-size: cover;
    }


    .container {
      margin-top: 175px;

      .t22 {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 31px;
        color: #011C60;
      }
    }
  }

    .bg {
    background: url("assets/s2-bg.svg") no-repeat center top;
    background-color: #EBF6FF;
    background-size: 105%;
    //padding-top: 350px;

    .container {
      margin-top: -300px;

      .img-container {
        position: relative;

        &:before {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 100%;
          background: url("assets/s2-play1.svg") no-repeat center center;
          background-color: rgba(4, 25, 66, 0.62);
          border-radius: 6px;

          &:hover {
            background: url("assets/s2-play2.svg") no-repeat center center;
          }
        }
      }

      .video-container {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;

        iframe {
          border-radius: 6px;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

#s3 {
  background: #001C61;
  padding: 130px 0 0 0;

  h2 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FBFFFE;
    text-align: center;
    margin-bottom: 50px;
  }

  .eq-height .item {
    //display: flex;
    //flex-direction: column;

    .img-container {
      background: #EBF6FF;
      border-radius: 4px;
      padding: 13px;
      display: flex;
      flex: auto;
      height: 188px;

      img {
        margin: auto;
      }
    }

    .txt {
      flex: none;
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      color: #FFFFFF;

      margin: 20px 0;
      padding-left: 30px;
      background: url("assets/s3-check.svg") no-repeat left 3px;
    }
  }

  .bottom-bg-container {
    position: relative;
    width: 100%;
    padding-bottom: 30%;
    height: 0;
    overflow: hidden;

    .bottom-bg {
      width: 105%;
      height: 100%;
      position: absolute;
      left: -1%;
      top: 0px;
    }
  }
}

#s4 {
  background: url("assets/s4-bg-bl.svg") no-repeat left bottom,
              url("assets/s4-bg-br.svg") no-repeat right bottom,
              url("assets/s4-bg-tl.svg") no-repeat 100px 43px,
              url("assets/s4-bg-tr.svg") no-repeat right top;

  h4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 23px;
    color: #001C61;
    text-align: center;
    margin-top: 100px;
  }

  .row {
    margin-bottom: 100px;
  }

  .item {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    img {
      margin: auto;
    }

    .txt {
      flex: none;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #133777;
      text-align: center;
    }
  }
}

#s4, #s5, #s6, #s7 {
  padding: 45px 0;
}

#s8 {
  height: 480px;

  @include mobile {
    height: 420px;
  }

  background: url("assets/s8-bg.svg?123") no-repeat 75% top;
  background-color: #f5fbff;

  .text-container {
    margin-top: 133px;
    padding: 40px 46px 40px 32px;
    background-color: rgba(237, 247, 255, 0.75);
    border-radius: 8px;
    width: 478px;

    h4 {
      font-family: Poppins, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 21px;
      line-height: 31px;
      color: #001C61;
    }

    div {
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      color: #001C61;
      margin-top: 10px;
    }
  }
}

#s9 {
  padding: 40px 0 80px 0;
  background: linear-gradient(180deg, #D4EEFF 0%, #F5FBFF 54.05%, #FFFFFF 100%);

  h4 {
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    line-height: 31px;
    color: #001C61;
  }

  div {
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #001C61;
  }
}

#s10 {
  height: 80px;
  background: url("assets/s10-bg.svg") no-repeat center top;
  background-size: 100%;
  margin-top: -60px;
}

#s11 {
  background-color: #001C61;
  padding: 45px 0;

  @include mobile {
    padding: 0 0 45px 0;
  }

  .star {
    height: 100px;
    width: 100px;
  }

  .text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    vertical-align: center;
    color: #6087E7;
    display: flex;
    align-items: center;
    margin-top: 12px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .includes {
    img {
      width: 100%;
    }
  }

  .buy-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 50px;
    width: 100%;

    @include sm {
      margin-top: 20px;

      button {
        width: 100%;
      }
    }

    a {
      color: #6087E7;
    }
  }
}